



  <ol class="list-inline">
    <li class="list-inline-item"><%= link_to "New Client", new_client_path, class: 'btn btn-primary btn-sm'%>
    </li>
    <li class="list-inline-item"><%= link_to "New Task", new_task_path, class: 'btn btn-primary btn-sm' %>
    </li>
  </ol>

  <%= render 'searches/new' %>
